header{
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

nav{
    width: 90%;
  
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    min-height: 80px;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
    flex-basis: 20%;
    color: var(--golden);
}
.nav-list{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.nav-item{
    font-size: 1.2rem;
    color: var(--white);
    cursor: pointer;
    transition: var(--transition);
    font-weight: 500;
    text-transform: uppercase;
}
.nav-list li:hover{
    color: var(--golden);
}
.booking{
    flex-basis: 20%;
}
.booking a{
    width: 150px;
    border: transparent;
    background-color: var(--golden);
    color: var(--white);
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    transition: var(--transition);
}
.booking a:hover{
    background-color: transparent;
    border: 1px solid var(--golden);
    color: var(--golden);
}

/* hero section  */
#hero{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 998;
}

.hero-img{
    width: 100%;
    object-fit: cover;
   filter: opacity(0.9);
}

.hero-info{
    width: 60%;
    margin: 0 auto;
    border: 10px solid var(--golden);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem;
    text-align: center;
}
.hero-title{
    font-size: 6rem;
    line-height: 80%;
    color: var(--white);
    padding-block: 1.5rem;
}
.hero-subtitle{
    font-size: 1rem;
    font-weight: 400;
    color: var(--white);
    letter-spacing: 2px;
    padding-bottom: 2rem;
}
/* hero section  */



@media (max-width:600px) {
    header{
        height: 50vh;
    }

    nav{
        width: 100%;
        background-color: transparent;
        gap: 0;
        justify-content: space-between;
        margin: 0 auto;
        left: 0;
        min-height: 60px;

    }
    .nav-list{
        position: absolute;
        flex-direction: column;
        color: var(--golden);
        left: -110%;
        top: 0;
        background-color: var(--golden);
        /* background: url("https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80");
        background-size: cover;
        filter: opacity(.5); */
        width: 100%;
        top: 60px;
        transition: var(--transition);
        padding-block: 1rem;
    }
    .nav-list.active{
        left: 0;
    }
    .nav-item{
        padding-left: 1rem;
    }
    .nav-item:hover{
        color: var(--white) !important;
    }
    .logo{
        flex-basis: 20%;
        font-size: 1.5rem;
        padding-left: 1.5rem;
    }
    .booking{
       display: none; 
    }
    .booking a{
        width: 100px;
        font-size: 1rem;
        
    }
    .menu-icon{
        display: block !important;
        flex-basis: 10%;
        padding-right: 1rem;
    }
    
    .hero-info{
        border: none;
        top: 50%;
        width: 80%;
    }

    .hero-title{
        font-size: 3.5rem;
        padding: 0;
    }
    .hero-subtitle{
        font-size: 0.9rem;
        padding-top: 0.5rem;
    }
.hero-img{
    min-height: 50vh;
}
.hero-booking{
    width: 120px;
    border: transparent;
    background-color: var(--golden);
    color: var(--white);
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    transition: var(--transition);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}